body{
    background-color: #234C6A;
    color: white;
}

/* POSITIONING CONTENT IN A STRAIGHT LINE AND SPACED IN THE HEADER*/
.c-site-header{
    display: flex;
    justify-content: space-between;
    min-height: 4em;
    max-height: 4em;
}
    

header{
background-color: #1B3C53;
}

.info{
    margin: 20px;
}

/* LINKS AND DROPDOWN IN THE HEADER*/
ul{
    list-style: none;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a{
    display: inline-flex;
    padding: 12px 20px;
    gap: 8px; 
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}
ul li ul.dropdown li{
    display: block;

}

/* ICON */
ul li i {
    font-size: 22px;
    vertical-align: middle;
    transition: transform 0.2s ease;
    color: white;
}


ul li:hover > a {
    background: #234C6A;
    width: 10em ; 
}


ul li ul.dropdown{
    width: 100%;
    background: #1B3C53;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #234C6A;
}
ul li:hover ul.dropdown{
    display: block;

}

/*STYLING LINKS*/

a {
    color: inherit;            /* INHERIT THE BG COLOUR */
    text-decoration: none;     /* REMOVES UNDERLINE */
    }

a:visited {
    color: inherit;            
    }

a:hover,
a:focus {
    text-decoration: none;     /* KEEPS UNDERLINE AWAY */
    }

/* SEARCH BAR STYLING*/
.search-form {
    display: none;
    position: absolute;
    top: 100%;   /* SHOWS BELOW NAVBAR */
    left: 0;
    background: #234C6A;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.search-form input {
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 4px;
    width: 200px;
    font-size: 16px;
}


.search:hover .search-form {
    display: block;
}



/*CAROUSEL STYLING*/

.cara-content{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    background: #234C6A;
}



.carousel-item {
  position: relative;
  height: 500px;  
  overflow: hidden;
}

/* BG IMAGE STYLING*/
.carousel-bg {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  transform: scale(1.1); 
  z-index: 0;
}

/* FG IMAGE STYLING */
.carousel-foreground {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-foreground img {
  min-height: 280px;
  width: auto;
  object-fit: contain;
  border-radius: 5px; 
}

/*STYLING THE REST OF THE CONTENT*/
.continue{
    margin-top: 20px;
    min-height: 13em;
}

/*STYLING FOOTER*/


     

